/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@media screen and (max-width: 1000px) {
    .header-name {
    font-size: 40px;
    color: white !important;
    margin-left: 10% !important;
    margin-top: 110%;
    }

}

@media screen and (max-width: 1000px) {

    .header-underline {
    	margin-left: 2% !important;
    	border-color: white !important;
    }

}
@media screen and (max-width: 1000px) {

    .header-icons {
    	display: none;
    }

   
}

@media screen and (max-width: 1000px) {
    .header-text {
	  	display: none;
	    }
}

.header-icons {
	color: black;
}

.header-underline {
	 margin-left: 65%;
	 border-color: #263238;
}

.header-text {
	 margin-left: 65%;
	 color: #263238;
}

.header-name {
	margin-left: 65%;
	color: #009688;
}



.name-hidden {
	display: none;
}

.text-hidden {
	display: none;
}

.were-links-hidden {
	display: none;
}

.hidden { display: none; }


.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}